@using Questionnaires.Web.Helpers
@model Questionnaires.Core.Services.Models.AnswerOption

@{      
    var id = QuestionReader.Prefix + Model.QuestionID + QuestionReader.Delimiter + Model.AnswerOptionID;   
}
<td>@Model.Label</td>
<td >
<textarea id="@id"  value="@Model.DefaultValue" name="@string.Format("{0}{1}{2}", QuestionReader.CreateName(Model), QuestionReader.Delimiter, Model.AnswerOptionID)" ></textarea></td>
