@using Questionnaires.Web.Helpers
@model Questionnaires.Core.Services.Models.AnswerOption

@{      
    var id = QuestionReader.Prefix + Model.QuestionID + QuestionReader.Delimiter + Model.AnswerOptionID;   
    string chkvalue = Model.DefaultValue == "checked"?"checked":"";
}

<td colspan="2">
<input style="width:20px;" id="@id" type="radio" value="@string.Format("{0}{1}{2}", Model.DefaultValue, QuestionReader.Delimiter ,Model.AnswerOptionID)" name="@QuestionReader.CreateName(Model)" @chkvalue />
@Html.Raw(Model.Label)
</td>


