<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="ApplicationServices" connectionString="Data Source=172.23.15.11;Initial Catalog=Healthlines_Membership_PRD;user id=Healthlines_PRD_CADS;Password=L6gbDYv4N4uB" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="QuestionnaireEntities" connectionString="metadata=res://*/Questionnaire.csdl|res://*/Questionnaire.ssdl|res://*/Questionnaire.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.23.15.11;initial catalog=Healthlines_Questionnaire;user id=Healthlines_PRD_CADS;Password=L6gbDYv4N4uB;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="HealthlinesEntities" connectionString="metadata=res://*/EntityModels.Healthlines.csdl|res://*/EntityModels.Healthlines.ssdl|res://*/EntityModels.Healthlines.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=172.23.15.11;Initial Catalog=Healthlines_Portal;user id=Healthlines_PRD_CADS;Password=L6gbDYv4N4uB;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="DukeEntities" connectionString="metadata=res://*/Duke.csdl|res://*/Duke.ssdl|res://*/Duke.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=172.23.15.11;Initial Catalog=Healthlines_Duke_PRD;user id=Healthlines_PRD_DUKE;Password=juxUYaQaS2e7;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="Elmah.Sql" connectionString="Data Source=172.23.15.11;Initial Catalog=Healthlines_Portal;user id=Healthlines_PRD_CADS;Password=L6gbDYv4N4uB" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <appSettings>
    <add key="EnsureSSL" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="DualLogin" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="BaseUrl" value="https://www.healthlines.nhs.uk" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>