<script src="@Url.Content("~/Scripts/callbacksListAndPagingFooter.js")" type="text/javascript"></script>
@model dynamic
@{
    <script type="text/javascript">
        var scheduledSingleCallbackDivId = "#divScheduledSingleCallbackData";
        var scheduledSingleCallbackTableDivId = "#ScheduledSingleCallbackTable";
        var scheduledSingleCallbacksPageUrl = '@Url.Content("~/Advisor/Callback/SinglePatientCallbacksList")';
            scheduledSingleCallbacksPageUrl += "?PatientId=" + getParameterByName("PatientId") + "&StudyId=" + getParameterByName("StudyId");

        // call the function to create the callbacklist and paging with the required values
        returnPagingAndHtml(scheduledSingleCallbacksPageUrl, scheduledSingleCallbackDivId, scheduledSingleCallbackTableDivId);

        // This function gets the parameter from the querystring
        function getParameterByName(name) {
            name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
            var regexS = "[\\?&]" + name + "=([^&#]*)";
            var regex = new RegExp(regexS);
            var results = regex.exec(window.location.search);
            if (results == null)
                return "";
            else
                return decodeURIComponent(results[1].replace(/\+/g, " "));
        }
    </script>
}
@if ((int)ViewData["ScheduledCallbacksForSinglePatient"] > 0)
{
    <div class="container">
        <h2>
            Scheduled Callbacks
        </h2>
        <div id="divScheduledSingleCallbackData"></div>
    </div>
}