@{
    ViewBag.PageTitle = "Index";
}

<p>Please select an option above - </p>
<ul>
    <li><b>Upload Patient Spreadsheet</b> to add patients to the system,</li>
    <li>or <b>User Administration</b> to unlock user accounts or change passwords.</li>
    <li>or use <b>Advisor Home</b> go back to the Advisor section of the system.</li>
</ul>