@model NHSD.ElephantParade.Domain.Models.PasswordResetRequestViewModel
@{
    ViewBag.PageTitle = "Forgotten Password";
}
<script type="text/javascript" language="javascript">
    $(document).ready(function () {
        $(".button").button();
    });
</script>
<h2>Forgotten Password</h2>
<p>Please ask for your password to be reset the next time you speak to a Healthlines advisor.</p>
<!--
<p>Please enter your email address below, clicking the button will send you an email. The email will contain a link which you can click to reset your password.</p>
@using (Html.BeginForm("ForgottenPassword", "Account"))
{
    @Html.ValidationSummary(true, "The email address entered is not valid")
    <div>
        <fieldset>
            <legend>User Information</legend>
                
            <div class="editor-label">
                @Html.LabelFor(m => m.Email) 
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.Email)
            </div>
            <div>
                @Html.ValidationMessageFor(m => m.Email)
            </div>
                                               
            <p><input class="button" type="submit" value="Send Email To Reset Password" /></p>
        </fieldset>
    </div>
}
-->
