@{
    ViewBag.PageTitle = "PasswordResetExpired";
}
<h2>Password Reset Expired</h2>

<p>The link you clicked to reach this page is invalid, or it has expired. To get a new link, please click @Html.ActionLink("Forgotten Password", "ForgottenPassword").</p>