@{
    ViewBag.PageTitle = "Depression";    
}
<div>

    <h2>What is depression?</h2>
    @*<img alt="" src="@Url.Content("~/Content/themes/HealthLines/images/help2.png")" style=" margin:-20px 10px 0px -20px; float: left; height: 100px; " />*@
    <p>From time to time, most of us will probably have periods of feeling fed up, low or sad. Normally these feelings go away after a couple of days or weeks and don't affect our lives in a significant way. There might be an obvious cause for these feelings or sometimes they just come on for no apparent reason, but whatever the reason, we usually get through these times by ourselves, or with support from family or friends and don’t need any special treatment. 
    </p>
    <p>With true depression, however, these feelings don't go away; they continue and might be so bad that they interfere with your life and day-to-day activities.</p>
    <p>It can be hard trying to manage depression, but with the right help and support, it is possible to combat the feelings of depression and go on to enjoy an improved quality of life.</p>
    <div class="clear"></div>
    <h2>Healthlines Service for depression</h2>
    <p>The Healthlines Service has been developed to help you manage your feelings of depression. Trained Healthlines Advisors will offer you a range of treatment and support options and will guide you through them, providing encouragement and support through regular telephone sessions at times which are convenient for <b>you</b>.</p>
    
    The options we can offer include:
    <ul>
        <li>The '<a href="http://healthlines.llttfionline.co.uk" target="_blank">Living Life to the Full interactive</a>' cognitive behavioral therapy (CBT) programme. CBT aims to help you to change how you think and how you behave - this can improve the way you feel.</li>
        <li>We can help you understand your antidepressant medicines if you take them</li>
        <li>Together we can look at how some life style changes can help with your depression and general health.</li>
        <li>In addition to this, we can send you helpful, up to date information which you can read at your own convenience.</li>
    </ul>
    <p>We hope that you will find the service both useful and enjoyable and we look forward to getting to know you soon.</p>

    <h2>Resources you may choose to use</h2>
  
    <div style="display:inline-block;zoom:1; *display: inline; text-align:center;"><a target="_blank" href="http://healthlines.llttfionline.co.uk"><img src="@Url.Content("~/Content/themes/HealthLines/images/LLTTF.gif")" alt="" /><br />Living Life to the Full</a></div>
    <p>
    You can access CBT through the Living Life to the Full interactive (LLTTFi) programme online or through a book entitled ‘Overcoming depression and low mood - a five areas approach’ by Dr Chris Williams.
    </p>
    <p>Both LLTTFi and the Overcoming depression and low mood book are based on something called the ‘5 Areas Assessment’ model, which is designed to help people better understand how their thoughts, feelings, physical symptoms, behaviour and environmental (or external) factors can affect their mental health in an unhelpful way. This approach will be used to help you identify any problems which you can then work on over the six sessions of the course.
    </p>
    <br />
    <div style="display:inline-block;zoom:1; *display: inline; text-align:center;"><a target="_blank" href="http://www.bigwhitewall.com"><img src="@Url.Content("~/Content/themes/HealthLines/images/TBBW.gif")" alt="" /><br />Big White Wall</a></div>
    <br />
    <p>Big White Wall is a community of people where members, who may be experiencing common mental health problems, can contact and support each other online. It offers the opportunity for creative self-expression, to talk freely and share personal feelings and stories, whilst remaining completely anonymous. Big White Wall is available 24/7 and has staff (Wall Guides) who offer individual short term crisis support and ensure full engagement, safety and anonymity of all members.
    </p>
    <p>If you think you might be interested in joining the Big White Wall community; speak to your Healthlines Advisor who will give you information about access to the site.</p>

    <br />
    <fieldset class="ui-widget-content">
        <legend>Other Useful Resources </legend>        
        <h3>
            Web Resources</h3>
<p>
            If you&#39;re having mental health problems, you&#39;re not alone. One in four of us will have problems with our mental health at some time in our lives. You can read about this and lots more at <a href="http://www.nhs.uk/Pages/HomePage.aspx">NHS Choices</a>. You can also look at the NHS Choices <a href="http://www.nhs.uk/LiveWell/Mentalhealth/Pages/Mentalhealthhome.aspx">Lift your Mood, real-life video wall</a>.</p>
<p>
            The <a href="http://www.depressionalliance.org/help-and-information">Depression Alliance</a>&nbsp;provides information about the symptoms of depression, treatments for depression, as well as research, publications, and information about local group support.</p>
<p>
            <a href="http://www.mind.org.uk">Mind</a> is a mental health charity website. News and information is available for you in factsheets and booklets, which you can print. To find local support groups and resources in your area, be sure to enter your postcode in the &lsquo;Find us in your area&rsquo; section on the homepage. Mind also publishes weekly blog posts which you can read or contribute to by clicking on &lsquo;latest blogs&rsquo; on the home page.</p>
<p>
            The <a href="http://www.mentalhealth.org.uk">Mental Health Foundation</a> website contains a number of useful publications and outlines the charity&rsquo;s work in research, policy, service development and service user involvement.</p>
<p>
            At <a href="http://www.mind.org.uk/blog">Mind Blog</a> (via Mind.org) you can find out about blogging about mental health issues.</p>
<p>
            NHS Choices: visit the <a href="http://www.nhs.uk/Tools/Pages/NHSmoodvideowall.aspx">Lift your mood video wall</a>.</p>
<p>
            <a href="http://www.rcpsych.ac.uk/mentalhealthinfoforall/problems/depression.aspx">Podcast</a> from the&nbsp;Royal College of Psychiatrists.</p>
<h3>
            Books</h3>
<p>
            Here we have listed some examples of books that contain useful information on mental health problems such as depression and low mood that you might find helpful.</p>
<p>
            <strong>Overcoming depression and Low Mood: a five areas approach</strong> by C. Williams <a href="http://www.oupcanada.com/higher_education/publishing_partner.html">Hodder Arnold</a>; 2009. Using the established Five Areas Assessment model of depression and the evidence-based cognitive behavior therapy approach, this book covers all the issues that are known to be problematic in depression and low mood. It features interactive questions and worksheets and is presented in a clear and user-friendly format.</p>
<p>
            <strong>SOD-IT! The Depression &lsquo;Virus&rsquo; and How to Deal with it</strong> by M. Davis <a href="http://www.talkinglife.co.uk">Talking Life</a>: 2006. Written and illustrated by a mental health professional with experience of depression, this book is informative, based on research and contains practical suggestions. It is also very easy to read and dip into, with a limited amount of text and filled with cartoons that are perceptive and humorous.</p>
<p>
            <strong>I Had a Black Dog</strong> by M. Johnstone <a href="http://www.constablerobinson.com">Constable Robinson</a>: 2007. The author of &lsquo;I had a Black Dog&rsquo; experienced depression himself. Presented in picture book style, the book is accessible, witty and instructive. It provides practical advice about recognising symptoms and managing depression.&nbsp;<a href="http://www.constablerobinson.com/" target="_blank"> </a></p>
<h3>
            <strong>Leaflets</strong></h3>
<p>
            A good range of leaflets on depression and many other mental health issues are available to download from the <a href="http://www.rcpsych.ac.uk/mentalhealthinfoforall/problems/depression.aspx">Royal College of Psychiatrists</a>.</p>

        
    </fieldset>
</div>