@{
    ViewBag.PageTitle = "Index";
}

<h2>Welcome </h2>

 <div class="advisorImageMenuItem"><a href="@Url.RouteUrl("PatientList")"><img src="@Url.Content("~/Content/themes/HealthLines/images/callschedule.png")" alt="Call Schedule" /><br />View Call Schedule</a></div>
 <div class="advisorImageMenuItem"><a href="@Url.RouteUrl("PatientSearch")"><img src="@Url.Content("~/Content/themes/HealthLines/images/SearchIcon.png")" alt="Search for specific patient" /><br />Patient Search</a></div>
<!--search icon from http://www.iconfinder.com/search/?q=iconset%3Aprofessional-toolbar-icons-png -->