@{
    ViewBag.PageTitle = "Successful";
}
<script type="text/javascript">
$(document).ready(function(){
    $(".button").button();
});
</script>
<h2>Email sent</h2>

<p>The email has been sent successfully.</p>

<button onclick="window.close();" class="button">Close</button>