@model IList<NHSD.ElephantParade.Core.Models.UserViewModel>
@{
    <script type="text/javascript">
        $(document).ready(function (){
             //set button below to be styled as JQuery Button.
            $(".button").button();
        });
    </script>
    
    var grid = new WebGrid(source: Model,
                            selectionFieldName: "SelectedRow",
                            rowsPerPage: 10, 
                            canPage: true, 
                            canSort: true);
    if (grid.Rows.Count == 0)
    {
        <p>No users found.</p>
    }
    else
    {
        <p>Please select the user you wish to delete, then confirm you want to remove them.</p>
        <br />
        @grid.GetHtml(htmlAttributes: new { id = "UserGrid" },
                                tableStyle: "grid",
                                headerStyle: "head",
                                alternatingRowStyle: "alt",
                                mode: WebGridPagerModes.All,
                                columns: grid.Columns(
                                            grid.Column("UserName", "UserName", format: (item) => (item.UserName)),
                                            grid.Column(header: "", format: @<text>@item.GetSelectLink("Delete User")</text>)
                                            )
                                );
        if(grid.HasSelection)
        {
            var user = (NHSD.ElephantParade.Core.Models.UserViewModel)grid.SelectedRow.Value;
            <p>Are you sure you wish to delete - @user.UserName</p>
            <p>@Html.ActionLink("Confirm Delete", "ConfirmDelete", new { username = user.UserName }, new { @class = "button" })</p>
        }
    }
}