<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="HealthlinesEntities" connectionString="metadata=res://*/EntityModels.Healthlines.csdl|res://*/EntityModels.Healthlines.ssdl|res://*/EntityModels.Healthlines.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DEV-SQL-02;initial catalog=Healthlines-Dev;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>