<fieldset>
	<div style="text-align:justify;text-justify:inter-word;" >
        <h2>About NHS Direct</h2>

        <p>The way you access health care information, advice and services on the telephone is changing. NHS 111 is replacing the 0845 4647 service provided by NHS Direct.</p>

        <p>For more information, see <a target="_blank" href="http://www.nhsdirect.nhs.uk/About/WhatIsNHSDirect">What is NHS Direct?</a></p>

        <h3>Calling NHS 111</h3>

        <p>You should call the NHS 111 service if you need medical help fast, but it’s not a 999 emergency.</p>

        <p>To contact the NHS 111 service, simply dial 111 from any landline or mobile phone free of charge.</p>

        <p>You will be assessed, given advice and directed straightaway to the local service that can help you best.</p>

        <h3>Health information and symptom checkers</h3>

        <p>If you are looking for health information or want to check your symptoms:</p>

        <ul>
            <li>You can get health advice and information on <a target="_blank" href="http://www.nhs.uk/Pages/HomePage.aspx">NHS Choices</a>.</li>
            <li>You can check your symptoms online with the <a target="_blank" href="http://www.nhs.uk/nhsdirect/Pages/Symptoms.aspx">NHS Health and Symptom Checkers</a>
            or download the <a target="_blank" href="http://www.nhsdirect.nhs.uk/en/About/MobileApps">NHS health and symptom checker app</a>.</li>
        </ul>
    </div>
</fieldset>