<fieldset>
	<div style="text-align:justify;text-justify:inter-word;" >
        <h2>About the Healthlines Study</h2>

        <p>The Healthlines Study is a research project funded by the National Institute for Health Research. The study involves researchers at the Universities of Bristol, Sheffield, Southampton and Manchester.</p>
        <p>With an increasingly ageing population, more people are living with long-term conditions. It is therefore important that the NHS explores new ways of providing healthcare for people with long-term conditions.</p>
        <p>The Healthlines Study aims to design and evaluate a telephone and Internet-based intervention, to support people in managing their long-term conditions.</p>

        <p>The research has been designed to find out if the Healthlines Service is helpful and cost-effective for the NHS to provide.</p>

        <p>The Healthlines Study focuses on people with two long-term conditions:</p>

        <ul>
            <li>depression, or</li>
            <li>raised cardiovascular risk.</li>
        </ul>

        <p>These conditions were selected because:</p>

        <ul>
            <li>they are common,</li>
            <li>they have a major impact on quality of life, and</li>
            <li>past research suggests that telephone and Internet-based interventions might be helpful to people with these conditions.</li>
        </ul>
    </div>
</fieldset>
