@{
    ViewBag.PageTitle = "Privacy";
}

<h2>Privacy Statement</h2>
<h3>Use of personal information</h3>

<p>We shall use any personal information you give to us in accordance with this statement. We shall not disclose your personal information to any third parties without obtaining your prior consent unless we are required by law to do so. In particular:</p>

<p><strong>If you contact us regarding the website:</strong> we shall use your details to reply to you. If you make a comment or complaint about other aspects of the Healthlines Service, we may use your details to investigate your comments.</p>
<p>With your permission, academic institutions may occasionally use our data in relevant studies. In these instances, we shall inform you in advance and you will have the choice to opt out of the study. The information that is used will be made anonymous and will be confidential.</p>

<h3>Data storage</h3>
<p>All data obtained through the Healthlines Service is held and used in compliance with the Data Protection Act 1998.</p>

<h3>Cookies</h3>
<p>This website uses cookies. A cookie is a piece of data that may be stored on your computer when you visit a website. When you visit our website, our server will record your computer&#39;s IP address (the unique numerical address given to every computer connected to the internet) and the time and duration of your visit. Our website will also store a cookie on your computer.</p>
<p>This cookie and your IP address will be used to record the pages you visit on our website. We will use this information to analyse the way our site is used, and to administer and improve the accessibility of our site.</p>


<h2 class="commissionersHeading">
	The cookies we use</h2>
<div class="summary">
	<p>
		Here is a list of the different types of cookies we use on our website. We&#39;ve also explained what each cookie does, which will help you to understand why we use it.</p>
</div>

<table>
	<tbody>
		<tr>
			<td align="left" valign="top">
				<strong>Cookie </strong></td>
			<td>
				<strong>What it does </strong></td>
			<td>
				<strong>When it expires </strong></td>
		</tr>		
        <tr>
			<td>
				.HealthLinesAuth</td>
			<td>
				used to determine if the user is authenticated and store session data</td>
			<td>
				48hrs or on logout</td>
		</tr>			
	</tbody>
</table>
<p>&nbsp;</p>
