@{
    ViewBag.PageTitle = "Terms";
}

<h2>Terms of Use</h2>

<h3>Links To Other Sites</h3>

Websites linked to from the Healthlines website are not under our control. No responsibility or liability is accepted for any communications or materials available at such linked sites. These links are provided for convenience only. Please refer to the other websites' own privacy policies for more information.
